@import "_vars.pcss";

#main-content{
    /*убираю лишние отступы и br чтобы уменьшить дыру под полями камента*/
    margin-bottom: 0;

    & br:last-child{
        display: none;
    }
}

.onoff-opt {
    margin: 0 6px 0 10px
}

.none {
    display: none !important
}

.hidden-elem {
    position: fixed !important;
    left: -999em;
    z-index: -1;
    visibility: hidden;
}

.none.view {
    display: block !important
}

.ch_addr {
    margin: 10px 10px 10px 0;
    vertical-align: top
}

.totop > input {
    margin: 10px 0 0
}

.label_head {
    display: block;
    margin: 0 0 20px
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both
}

.alist {
    float: right
}

.alist p {
    margin: 0 0 10px;
    line-height: 1;
    text-align: right
}

.bar-wrap {
    padding: 8px 15px;
    background: #2d2d2d
}

#custom-project-list > li {
    width: 20%;
    float: left;
    cursor: pointer
}

#custom-workers-list > li {
    width: 20%;
    float: left;
    cursor: pointer
}

#custom-project-list > li:first-child {
    display: none
}

.user-list{
    margin: 2em 1em;
    padding: 0;
    list-style-position: inside;
}

.user-list > li {
    line-height: 1.5
}

.selected {
    color: green
}

.btn-flat{
    padding: .5em;
    background: #f0f0f0;
    display: inline-block;
    cursor: pointer;
}

.row-item{
    display: inline-block;
    vertical-align: top;

    &:not(:last-child){
        margin-right: 1em;
    }
}

#settings-btn {
    margin: 0 0 20px 0
}

#settings-box {
    display: none;
    margin: 20px 0;
    padding: 20px 0;
    outline: 1px solid #414141
}

#settings-box.is-open {
    display: block
}

.user-title {
    color: #000;
    margin: 0 0 .6em;
    font-size: 20px;
    padding: 0
}

.regular-link {
    color: #0054b9;
    outline: 0 !important;
}

.time-list p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.time-list > p > span:first-child {
    padding-right: 1em;
    cursor: pointer;
}

:root .time-list-total {
    margin-top: 1em;
    border-top: 1px solid;
}

.comment-collapsed {
    max-height: 70px;
    overflow: hidden !important;
}

.long-comment {
    width: 100% !important;
    position: relative;
    padding-top: 30px;
}

.btn-collapse {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-collapse-all {
    position: fixed;
    top: 10px;
    right: 10px;
}

:root .dates-list {
    width: 150px;
    display: inline-block;
    margin: 0 20px 0 0
}

.user-toolbar {
    margin: 20px 0;
    padding: 20px 10px;
    border-top: 1px solid rgba(0, 0, 0, .7);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.user-toolbar__item {
    padding: 10px 15px;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6)
}

:root .user-toolbar-title {
    margin: 0 0 1em;
    padding: 0;
    color: #000;
}

:root #comments-tbl .comment-wrap {
    font-size: 14px;
    width: 100% !important;
    max-width: 800px;
    overflow: hidden;
}

:root #comments-tbl h1 {
    font-size: 120%;
    font-weight: 400;
    margin: 0 0 .4em;
    color: inherit;
}

:root #comments-tbl blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #ccc;
}

:root #comments-tbl blockquote p {
    margin: 0;

    &:not(:last-child){
        margin-bottom: 1em;
    }
}

:root #comments-tbl ul {
    padding-left: .6em;
    list-style-position: inside;
}

/*typo*/
.section-title{
    color: inherit;
    margin: 0 0 1em;
    padding: 0 !important;
}

.s-info{
    color: #808080;
    font-size: 12px;
}

/*вставка текста из local storage*/
.btn-insert-ls{
    position: absolute;
    top: 100%;
    right: 2em;
    transition: transform .3s;

    &.is-visible{
        transform: translateY(-150%);
    }
}

/*
    добавление иконки подписки на уведомление о новых каментах
    в заголовок задачи
*/

.add-alert{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+ICAgIDxwYXRoIGQ9Ik0xMC4wMSAyMS4wMWMwIDEuMS44OSAxLjk5IDEuOTkgMS45OXMxLjk5LS44OSAxLjk5LTEuOTloLTMuOTh6bTguODctNC4xOVYxMWMwLTMuMjUtMi4yNS01Ljk3LTUuMjktNi42OXYtLjcyQzEzLjU5IDIuNzEgMTIuODggMiAxMiAycy0xLjU5LjcxLTEuNTkgMS41OXYuNzJDNy4zNyA1LjAzIDUuMTIgNy43NSA1LjEyIDExdjUuODJMMyAxOC45NFYyMGgxOHYtMS4wNmwtMi4xMi0yLjEyek0xNiAxMy4wMWgtM3YzaC0ydi0zSDhWMTFoM1Y4aDJ2M2gzdjIuMDF6Ii8+PC9zdmc+);
    cursor: pointer;
}

#task-title{

    & .add-alert{
        vertical-align: middle;
        opacity: .5;

        &.selected{
            opacity: 1;
        }
    }
}

#text{
    resize: vertical;
}

